<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用Spring配置文件创建对象-->
    <!--称为bean-->
    <bean id="helloWorld" class="top.novashen.pojo.HelloWorld">
        <property name="name" value="HelloWorldSpring!"/>
    </bean>

</beans>